head{
	font-family: Arial;
}

.centered {
    text-align: center;
}

body {
    font-family: Arial; 
}

.row {
  display: flex;
}

.Acknowledgements h2{
	text-align:center;
}


.column {
  flex: 100%;
  text-align:center;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.parent {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .parent img {
        width: 400px;
        height: 400px;
        padding: 3px;
        margin-left: 3px;
        margin-bottom: 250px
      }

h3{
	text-align:left;
	margin-top:5px;
	margin-bottom:5px
}

h2 {
	text-align:left;
	margin-bottom:0.5px;
}

h1{
	margin-top: 50px;
}

ul {
	text-align:left;
}

.lineheight{
	line-height:25%;
}
